#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#projects > h2 {
    font-size: 250%;
    text-align: center;
}

.carousel-container {
    width: 100%;
}

.react-multi-carousel-dot-list {
    bottom: 7% !important;
}

.custom-dots {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.active {
    cursor: pointer;
    color: #6AA84F;
}

.inactive {
    cursor: pointer;
    color: #9c9c9c;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.project-link {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.project-link:hover {
    background-color: #6AA84F;
    color: black;
    transition: 250ms;
}

.project-link:active {
    transform: translateY(2px);
}

.project-image {
    width: 75%;
    margin: 0 auto;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    #projects > h2 {
        margin-top: 25%;
        font-size: 200%;
    }

    .project {
        flex-direction: column;
        width: 85%;
    }

    .project-text {
        margin-bottom: 1rem;
    }

    .project-text > p {
        font-size: 85%;
    }

    .project-image {
        width: 100%;
    }
    
}