.scroll-container {
    height: 100vh;
    height: 100dvh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    scroll-snap-align: center;
}

@media screen and (max-width: 768px){
    .scroll-container {
        height: 100svh;
    }
}